$dark-color: #010165;
$light-color: #00ffff;
$result-color: #eb6536;

body {
  background-color: $dark-color;
  color: $light-color;
  font-family: Work Sans, sans-serif;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 10px;
}

.header {
  grid-column: 1 / 13;
  border-bottom: 2px solid $light-color;
  padding: .5rem;
  text-align: center;
  font-size: 1.75rem;

  img {
    height: 40px;
    text-align: center;
  }
}

.title {
  grid-column: 6 / 8;
  display: grid;
  font-size: 1.5rem;

  img {
    grid-row: 1;
    margin: auto;
    height: 20px;
  }

  p {
    grid-row: 1;
  }
}

.instructions {
  grid-column: 4 / 10;
  margin-bottom: 1.5rem;

  li {
    margin-bottom: 1.25rem;
  }
}

.doors {
  grid-column: 1 / 13;
  text-align: center;
}

.door-frame {
  cursor: pointer;
  margin: 0 1%;
}

.result-display {
  grid-column: 5 / 9;
  text-align: center;
  font-size: 1.25rem;
  color: $result-color;
}

.start-button {
  grid-column: 6 / 8;
  padding: 2%;
  background-color: $light-color;
  color: $dark-color;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.score-row {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 20px;
  text-align: center;
}

.current-streak {
  display: grid;
  grid-column: 4;
  grid-template: 1fr 1fr / 1fr;
}

.best-streak {
  display: grid;
  grid-column: 5;
  grid-template: 1fr 1fr / 1fr;
}

.score-text {
  grid-row: 1;
  color: $light-color;
}

.score-box {
  grid-row: 2;
  background-color: $light-color;
  color: $dark-color;
  margin: auto;
  font-size: 2rem;
  padding: 8px;
  width: 60px;
}
